html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  display: table-cell;
  vertical-align: middle;
}

* {
    box-sizing: border-box;
  }

.attribution { 
    
    font-size: 11px; text-align: center; margin:50px;
}
.attribution a { 
    
    color: hsl(228, 45%, 44%); 
}
  
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    table-layout: fixed;
    border-radius: 150px;
}
    
.column {
display: table-cell; /* Make elements inside the container behave like table cells */
width:2%;
text-align: center;
}

/* Responsive layout - when the screen is less than 375px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 375px) {
    .column {
      display: block;
      width: 100%;
    }
}   

.item-center {    

    text-align: center;
}

.item-left{

    text-align:left;
    left:50%;
}

.continueBtn {

  display: block;
  background-color: hsl(224, 30%, 27%);
  text-align:center;
  width:100%;
  color:white;
  border: none;
  padding: 10px;  
  text-decoration: none;  
  font-size: 16px;
  margin: 0px 40px 20px 40px;
  cursor: pointer;
}

.button {
  background-color: hsl(224, 30%, 27%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-image:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
}

.button5 {border-radius: 40%;}

.cardColor {

    background-image:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    /*border-style: dotted;           
    border-color: red;*/
    border-radius: 10%;
}

.mainbackground {

  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 25px;

}

/*
  ========================================
 Dynamic List items
  ========================================
*/

/* Selects the second li element in a list */
li:nth-child(1) {
  background: hsla(0, 100%, 67%, 0.3);
  color: hsl(0, 100%, 67%);
  margin: 20px 50px 20px 0px;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
}

/* Selects the second li element in a list */
li:nth-child(2) {
  background: hsla(39, 100%, 56%, 0.3);
  color: hsl(39, 100%, 56%);
  margin: 20px 50px 20px 0px;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
}

/* Selects the second li element in a list */
li:nth-child(3) {
  background: hsla(166, 100%, 37%, 0.3);
  color: hsl(166, 100%, 37%);
  margin: 20px 50px 20px 0px;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
}

/* Selects the second li element in a list */
li:nth-child(4) {
  background: hsla(234, 85%, 45%, 0.3);
  color: hsl(234, 85%, 45%);
  margin: 20px 50px 0px 0px;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
}


ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}

.textRight{

  text-indent: 5px;
}

.center {
  
  background-image: radial-gradient(circle, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;  
  display: flex;
  align-items:center;
  text-align:center; 
    
}

span {
  display: table-cell;
  vertical-align: middle;
}
  
  

  




  