* {
    box-sizing: border-box;
  }

html {

    font-family: 'Hanken Grotesk', sans-serif;
  }

.attribution { 
    
    font-size: 11px; text-align: center; 
}
.attribution a { 
    
    color: hsl(228, 45%, 44%); 
}
  
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    table-layout: fixed;
    border-radius: 150px;
}
    
.column {
display: table-cell; /* Make elements inside the container behave like table cells */
width:2%;
}

/* Responsive layout - when the screen is less than 375px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 375px) {
    .column {
      display: block;
      width: 100%;
    }
  }  
  

.item-center {    

    text-align: center;

}

.item-left{

    text-align:left;
}

.continueBtn {

    color:white;
}



.cardColor {

    background-image:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-style: dotted;           border-color: red;
}

/*#grad {   
    
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(circle, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    
}*/

ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}

.center {
  /*background: #FF7A59;*/
  background-image: radial-gradient(circle, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}
  
  

  




  